<html>
    <head>
        <title>Headlines</title>
    </head>
    <body>
        <h1>Headlines</h1>
		<form>
			<input type="text" name="publication" placeholder="search" />
			<input type="submit" value="Submit" />
		</form>
		
		<h2>Current Weather</h2>
		<p>City: <b>{{weather.city}}, {{ weather.country }}</b></p>
		<p>{{weather.description}} | {{weather.tempreature}}&#8451</p>
		<form>
		  <input type="text" name="city" placeholder="Weather City">
		  <input type="submit" value="Submit">
		</form>
		
		<h2>Currency</h2>
		1 {{ currency_from }} = {{ currency_to }} {{ rate }}
		<p>
		<form>
		  from: <select name="currency_from">
		        <option value = "SGD">SGD</option>
				<option value = "MYR">MYR</option>
				<option value = "USD">USD</option>
				<option value = "GBP">GBP</option>
				<option value = "EUR">EUR</option>
				</select>
		  to: <select name="currency_to">
		        <option value = "SGD">SGD</option>
				<option value = "MYR">MYR</option>
				<option value = "USD">USD</option>
				<option value = "GBP">GBP</option>
				<option value = "EUR">EUR</option>
				</select>
		  <input type="submit" value="Submit">
		</form>
		
	<p>
		
	{% for article in articles %}
        <b><a href="{{ article.link }}">{{ article.title }}</a></b><br />
        <i>{{ article.published }}</i><br />
        <p>{{ article.summary }}</p>
	{% endfor %}
    </body>
</html>